{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}热点话题发现{% endblock title %}

{% block page_content %}
<div class="container">
    <div class="row">
    <div class="python-jumbotron jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img src="{{url_for('static', filename='img/python-logo.png')}}" alt="python_logo">
          </div>
          <div class="col-lg-8">
            <p style="color: #e6e8ea">
              热点话题发现
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<br/>
<div class="container">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>

<br/>
<!--<img src="{{ url_for('static', filename="images/hot.png") }}">-->
<!--<div class="container">-->
	<!--<form class="form-inline">-->
	  <!--<div class="form-group">-->
      <!--<label for="exampleInputEmail2">分类结果</label>-->
      	    <!--<select class="form-control" name="category">-->
	    	  <!--{% if word_tag %}-->

                  <!--{% for word in word_tag %}-->
                       <!--<option>{{ word }}</option>-->
                      <!--<p>{{ word }}</p>-->
                  <!--{% endfor %}-->
                      <!--{% else %}-->
                      <!--<p>没有分类</p>-->
              <!--{% endif %}-->
		    <!--</select>-->
	    <!--<label for="exampleInputEmail2">选择聚类结果</label>-->
	    <!--<select class="form-control" name="name">-->
	    	  <!--{% if category_list %}-->

              <!--{% for category in category_list %}-->
                   <!--<option>{{category}}</option>-->
                  <!--<p>{{ category }}</p>-->
              <!--{% endfor %}-->
                  <!--{% else %}-->
                  <!--<p>没有分类</p>-->
            <!--{% endif %}-->
		<!--</select>-->
	  <!--</div>-->
    <!--<button type="submit" class="btn btn-default">寻找</button>-->
	<!--</form>-->

<!--</div>-->

<div class="container">
    <table class=" table table-hover">
  		<thead>
  			<th class="active">ID</th>
  			<th class="active">微博内容</th>
  			<th class="active">评论个数</th>
  			<th class="active">点赞数</th>
  			<th class="active">创建时间</th>
  		</thead>

        <tbody>

            {% for content in contents %}
        <tr>
            <td class="active">{{ content[0] }}</td>
        	  <td class="success">{{ content[1] }}</td>
			  <td class="warning">{{ content[2] }}</td>
			  <td class="danger">{{ content[3] }}</td>
            <td class="info">{{ content[4]}}</td>
        </tr>
        </tbody>
            {% endfor %}
    </table>
</div>

{% endblock %}