{% extends "bootstrap/base.html" %}

{% block title %} Guoweikuang {% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table/dist/bootstrap-table.min.css') }}">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='bootstrap-table/dist/bootstrap-table.min.js') }}"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="{{ url_for('static', filename='bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js') }}"></script>
{% endblock %}


{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('weibo.index') }}">首页</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('weibo.crawl') }}">数据爬取</a></li>
                <li><a href="{{ url_for('weibo.analyze') }}">热点话题发现</a></li>
                <li><a href="#">舆情类别</a></li>
                <li><a href="{{ url_for('weibo.sensitive') }}">敏感词发现</a></li>
                <li><a href="{{ url_for('weibo.display') }}">图表展示</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                             <img src="#">
                             账号<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">更改密码</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                            </ul>
                    </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}

